logs/
data/
Models/
__pycache__/
.Trash-1000/
*.slurm
*.pth
*.t7
*.safetensors
.idea/workspace.xml
.idea/Vokan.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
